# Build directories
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# NuGet packages
*.nupkg
packages/
project.lock.json
project.assets.json

# Logs
*.log

# Visual Studio folders
.vs/
